html {
    --Primary-Color-White: #fff;
    --Primary-Color-WhiteMixGray: #f8f8f8;
    --Primary-Color-Gray: #9a9a9a;
    --Primary-Color-Dark: #333;
    --Primary-color-BlueDark: #104c70;
    --Primary-Color-BlueLight: #1e90d2;
}
