# Ignore node_modules and build output in React client folder
clinic_freshx/node_modules/
clinic_freshx/build/

# Ignore environment variables
clinic_freshx/.env

# Ignore log files
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore Visual Studio Code files
.vscode/