@use "../abstracts";

%flexItemCenter {
    display: flex;
    align-items: center;
}

.blog-page {
    margin-top: 100px;

    @include abstracts.screen(lg) {
        margin-top: 60px;
    }

    &__wrap {
        @extend %flexItemCenter;
        gap: 40px;
        margin-top: 32px;

        @include abstracts.screen(lg) {
            gap: 20px;
        }
    }

    &__btn {
        opacity: 0.7;

        &--active {
            opacity: 1;
        }
    }
}
