@use "../abstracts";

%flexItemCenter {
    display: flex;
    align-items: center;
}

.footer {
    margin-top: 186px;

    background-image: url(../../assets/img/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;

    @include abstracts.screen(lg) {
        margin-top: 70px;
    }

    &__inner {
        position: relative;
        padding: 210px 0 100px;

        @include abstracts.screen(lg) {
            padding: 50px 0;
        }
    }

    &__top {
        display: flex;
        justify-content: space-between;

        @include abstracts.screen(lg) {
            flex-direction: column;
            gap: 30px;
        }
    }
}

.footer-container {
    position: absolute;
    top: -86px;
    left: 0;
    @extend %flexItemCenter;
    justify-content: space-between;
    padding: 30px;
    border-radius: 27px;
    background: var(--Primary-color-BlueDark);

    &__content {
        width: 56%;
        color: var(--Primary-Color-White);
    }

    &__heading {
        font-size: 3rem;
        font-weight: 600;
        line-height: 1.33;
    }

    &__btn {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 20px 25px;
        border-radius: 15px;
        background: var(--Primary-Color-White);
        color: var(--Primary-color-BlueDark);

        transition: 0.1s;

        &:hover {
            border: 2px solid var(--Primary-Color-White);
            background: transparent;
            color: var(--Primary-Color-White);
        }
    }
}

.footer-left {
    width: 48%;

    @include abstracts.screen(lg) {
        width: 100%;
    }
}

.footer-right {
    display: flex;
    gap: 40px;

    @include abstracts.screen(lg) {
        justify-content: space-between;
    }

    @include abstracts.screen(sm) {
        flex-direction: column;
        gap: 32px;
    }

    &__title {
        padding: 10px 0;
        margin-bottom: 20px;
    }

    &__item {
        padding: 10px 0;
    }

    &__link {
        color: rgba(51, 51, 51, 0.7);

        &:hover {
            color: var(--Primary-Color-Dark);
        }
    }
}

.footer-bot {
    padding: 21px 0;
    background: var(--Primary-Color-White);

    &__container {
        @extend %flexItemCenter;
        justify-content: space-between;

        @include abstracts.screen(lg) {
            flex-direction: column;
            gap: 20px;
        }
    }

    &__copyright,
    &__link {
        color: var(--Primary-Color-Gray);
    }

    &__socials {
        @extend %flexItemCenter;
        gap: 15px;
    }

    &__social {
        width: 36px;
        height: 36px;

        @extend %flexItemCenter;
        justify-content: center;

        border-radius: 50%;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.55);

        &:hover {
            background: var(--Primary-Color-BlueLight);
        }
    }

    &__link:hover {
        color: var(--Primary-Color-Dark);
    }
}

.footer-form {
    @extend %flexItemCenter;
    gap: 10px;
    margin-top: 64px;

    @include abstracts.screen(lg) {
        margin-top: 30px;
    }

    &__input {
        width: 302px;
        padding: 20px 15px;

        border-radius: 12px;
        background: var(--Primary-Color-WhiteMixGray, #f8f8f8);

        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.62;

        color: var(--Primary-Color-Dark);

        &::placeholder {
            color: rgba(51, 51, 51, 0.7);
        }
    }

    &__btn {
        padding: 20px 15px;
        border-radius: 12px;
        background: var(--Primary-Color-BlueLight);
        color: var(--Primary-Color-White);

        transition: 0.25s;

        &:hover {
            opacity: 0.7;
        }
    }
}
