<div class="container">
    <div class="footer__inner">
        <div class="footer-container d-lg-none">
            <section class="footer-container__content">
                <h3 class="footer-container__heading">
                    Làm chủ sức khỏe của bạn
                </h3>
                <p class="desc1">
                    Bằng cách nuôi dưỡng những thói quen lành mạnh và nắm lấy sự
                    cân bằng, bạn sẽ mở khóa được nguồn năng lượng của bạn và
                    tận hưởng một cuộc sống tràn đầy sức sống và mục đích
                </p>
            </section>
            <button class="footer-container__btn button-large">
                Nhận báo giá gói khám
            </button>
        </div>

        <div class="footer__top">
            <section class="footer-left">
                <h2 class="heading2">Hành trình hỗ trợ sức khỏe của bạn</h2>
                <p class="desc1">
                    Các nguồn lực y tế toàn diện, lời khuyên của chuyên gia và
                    cộng đồng hỗ trợ của chúng tôi ở đây để hướng dẫn bạn từng
                    bước.
                </p>

                <form action="" class="footer-form">
                    <input
                        type="text"
                        class="footer-form__input"
                        placeholder="Nhập email của bạn"
                    />
                    <button class="footer-form__btn button-large">Gửi</button>
                </form>
            </section>

            <div class="footer-right">
                <div class="footer-right__menu">
                    <h3 class="footer-right__title button-large">Về Fresh-X</h3>
                    <ul>
                        <li class="footer-right__item">
                            <a href="#!" class="footer-right__link button-small"
                                >Về chúng tôi</a
                            >
                        </li>
                        <li class="footer-right__item">
                            <a href="#!" class="footer-right__link button-small"
                                >Ứng tuyển</a
                            >
                        </li>
                        <li class="footer-right__item">
                            <a href="#!" class="footer-right__link button-small"
                                >Bài viết</a
                            >
                        </li>
                        <li class="footer-right__item">
                            <a href="#!" class="footer-right__link button-small"
                                >Liên hệ</a
                            >
                        </li>
                    </ul>
                </div>

                <div class="footer-right__menu">
                    <h3 class="footer-right__title button-large">
                        Dànhcho nhân viên
                    </h3>
                    <ul>
                        <li class="footer-right__item">
                            <a href="#!" class="footer-right__link button-small"
                                >Kết nối sức khỏe</a
                            >
                        </li>
                        <li class="footer-right__item">
                            <a href="#!" class="footer-right__link button-small"
                                >Chương trình hỗ trợ nhân viên</a
                            >
                        </li>
                        <li class="footer-right__item">
                            <a href="#!" class="footer-right__link button-small"
                                >Cổng thông tin sức khỏe</a
                            >
                        </li>
                        <li class="footer-right__item">
                            <a href="#!" class="footer-right__link button-small"
                                >Dịch vụ sử dụng lao động</a
                            >
                        </li>
                        <li class="footer-right__item">
                            <a href="#!" class="footer-right__link button-small"
                                >Hỗ trợ nhân viên</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer-bot">
    <div class="container">
        <div class="footer-bot__container">
            <p class="footer-bot__copyright desc2">
                Bản quyền © 2024 thuộc về phòng khám Fresh-X
            </p>

            <div class="footer-bot__socials">
                <a href="#!" class="footer-bot__social">
                    <img src="./assets/icons/fb.svg" alt="" />
                </a>
                <a href="#!" class="footer-bot__social">
                    <img src="./assets/icons/tw.svg" alt="" />
                </a>
                <a href="#!" class="footer-bot__social">
                    <img src="./assets/icons/ins.svg" alt="" />
                </a>
                <a href="#!" class="footer-bot__social">
                    <img src="./assets/icons/link.svg" alt="" />
                </a>
            </div>

            <a href="#!" class="footer-bot__link desc2"
                >Các điều khoản & Điều kiện</a
            >
        </div>
    </div>
</div>
