<div class="header-top">
    <div class="container">
        <div class="header__inner">
            <!-- Header Top Left -->
            <div class="header-top__left">
                <a
                    href="mailto:trunghoang.240500@gmail.com"
                    class="header-top__wrap"
                >
                    <img src="./assets/icons/Message.svg" alt="" />
                    <p class="button-small header-top__text">
                        FreshX@gmail.com
                    </p>
                </a>

                <a href="tel:0823240040" class="header-top__wrap">
                    <img src="./assets/icons/phone2.svg" alt="" />
                    <p class="button-small header-top__text">0823240040</p>
                </a>
            </div>

            <div class="header-top__right">
                <div class="header-top__action">
                    <a href="./book.html">
                        <img
                            src="./assets/icons/calendar.svg"
                            alt=""
                            class="header-top__booking"
                        />
                    </a>
                </div>
                <div class="header__btn d-lg-none">Đăng nhập</div>

                <button
                    class="js-toggle d-none d-lg-block"
                    toggle-target="#navbar"
                >
                    <img src="./assets/icons/menu.svg" alt="" />
                </button>
            </div>
        </div>
    </div>
</div>
<div class="header-bot">
    <div class="container">
        <div class="header__inner">
            <a href="/"
                ><img
                    src="./assets/img/Logo.png"
                    alt=""
                    class="header-bot__logo"
            /></a>

            <div class="header__right d-lg-none">
                <nav class="navbar">
                    <ul class="navbar__list">
                        <li class="navbar__item navbar__item--active">
                            <a href="/" class="navbar__link button-small"
                                >Trang chủ</a
                            >
                            <span class="navbar__separate"></span>
                        </li>
                        <li class="navbar__item">
                            <a
                                href="./specialty.html"
                                class="navbar__link button-small"
                                >Chuyên Khoa</a
                            >
                            <span class="navbar__separate"></span>
                        </li>
                        <li class="navbar__item">
                            <a
                                href="./medical.html"
                                class="navbar__link button-small"
                                >Gói Khám</a
                            >
                            <span class="navbar__separate"></span>
                        </li>
                        <li class="navbar__item">
                            <a
                                href="./about.html"
                                class="navbar__link button-small"
                                >Về Fresh-X</a
                            >
                            <span class="navbar__separate"></span>
                        </li>
                        <li class="navbar__item">
                            <a
                                href="./medicine.html"
                                class="navbar__link button-small"
                                >Thông tin dược</a
                            >
                            <span class="navbar__separate"></span>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<!-- Modal: navbar mobile -->
<div>
    <div id="navbar" class="mobile hide d-none d-lg-block">
        <a class="logo" href="./">
            <img src="./assets/img/logo.png" class="logo__img" alt="" />
        </a>
        <ul class="navbar__list">
            <li class="navbar__item navbar__item--active">
                <a href="/" class="navbar__link button-small">Trang chủ</a>
                <span class="navbar__separate"></span>
            </li>
            <li class="navbar__item">
                <a href="./specialty.html" class="navbar__link button-small"
                    >Chuyên Khoa</a
                >
                <span class="navbar__separate"></span>
            </li>
            <li class="navbar__item">
                <a href="./medical.html" class="navbar__link button-small"
                    >Gói Khám</a
                >
                <span class="navbar__separate"></span>
            </li>
            <li class="navbar__item">
                <a href="./about.html" class="navbar__link button-small"
                    >Về Fresh-X</a
                >
                <span class="navbar__separate"></span>
            </li>
            <li class="navbar__item">
                <a href="./medicine.html" class="navbar__link button-small"
                    >Thông tin dược</a
                >
                <span class="navbar__separate"></span>
            </li>
        </ul>
        <div class="header__btn">Đăng nhập</div>
    </div>
    <div class="mobile__overlay js-toggle" toggle-target="#navbar"></div>
</div>
