@use "../abstracts";

%flexItemCenter {
    display: flex;
    align-items: center;
}

.action {
    &__text--active {
        color: var(--Primary-color-BlueDark);
    }

    &__separate {
        width: 3px;
        height: 38px;
        background: #d9d9d9;
    }
}

.action-large {
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 20px;
    background: var(--Primary-Color-WhiteMixGray);

    &__bot {
        @extend %flexItemCenter;
        justify-content: space-between;
        padding: 15px 0;
    }

    &__wrap {
        @extend %flexItemCenter;
        gap: 10px;
    }
}
