.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 15px 35px;
    border-radius: 10px;
    background: var(--Primary-Color-BlueLight);
    transition: 0.25s;

    color: var(--Primary-Color-White, #fff);
    font-size: 1.8rem;
    font-weight: 600;

    &:hover {
        opacity: 0.7;
    }
}
