@use "../abstracts";

.client {
    padding: 25px 0;
    overflow: hidden;
    white-space: nowrap;
}

.client-container {
    display: inline-block;
    animation: 25s slide infinite linear;
}

.client:hover .client-container {
    animation-play-state: paused;
}
