.heading1 {
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.12;
}

.heading2 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25;

    position: relative;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -10px;
        width: 162px;
        height: 3px;
        background: var(--Primary-color-BlueDark);
    }

    &--mid {
        text-align: center;
        &::before {
            left: 50%;
            translate: -50%;
        }
    }
}

.heading3 {
    font-size: 3rem;
    line-height: 1.33;
}

.heading4 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.6;
}

.heading5 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.5;
}

.desc1 {
    margin-top: 16px;
    line-height: 1.62;

    &--mid {
        text-align: center;
        margin-top: 26px;
    }
}

.desc2 {
    font-size: 1.4rem;
    line-height: 1.42;
}

.desc3 {
    font-size: 1.2rem;
    line-height: 1.5;
}

.blog-quote {
    font-size: 1.8rem;
    font-style: italic;
    line-height: 1.77;
}

.button-large {
    font-size: 1.8rem;
    font-weight: 600;
}

.button-small {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.14px;
}
